<div id="menu"></div>

<div id="alert"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-10">
        <h1 class="sw-icon icon-t-shirt">{{=it["rolename"]}}
          <button id="btnDeleteRole" class="btn btn-danger btn-xs" style="margin-left: 10px;">Delete</button>
        </h1>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div id="rolePermissions" class="col-md-6">
      </div>
      <div id="roleUsers" class="col-md-6">
      </div>
    </div>
  </div>
</div>