<div id="menu"></div>

<div id="alert"></div>

<div class="panel panel-default scroll list">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-10">
        <h1 class="sw-icon icon-user">Users</h1>
      </div>
      <div class="col-md-2">
        <button id="newUser" class="btn btn-success pull-right" style="margin-top: 20px;">New User</button>
      </div>
    </div>
  </div>
  <div class="panel-body" style="height: 800px;">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="icon icon-search"></i></span>
          <input id="inUserFilter" type="search" class="form-control" placeholder="Type to search by username">
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="scroll" style="height: 700px; margin-top: -21px;">
      <table class="table table-bordered table-responsive table-hover">
        <theader>
          <th class="user-status">Status</th>
          <th class="user-name">Username</th>
          <th class="user-super">Super User</th>
          <th class="user-roles">Roles</th>
        </theader>
        <tbody id="users">
        </tbody>
      </table>
    </div>
  </div>
</div>
