<form class="form-signin" role="form">
    <img class="logo" src="images/sd.png"/>
    <br/>
    <br/>
    <input id="inUsername" class="form-control" placeholder="Username" required autofocus>
    <input id="inPassword" type="password" class="form-control" placeholder="Password" required>
    <!-- <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
    </label> -->
    <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

<div id="alert" class="alert alert-danger" style="margin: 0 auto; width: 26%; visibility: hidden">
    <p id="errorMsg"></p>
</div>