<div class="modal fade" id="selectClassModal" tabindex="-1" role="dialog" aria-labelledby="Select owl:Class for new resource" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Select a Class</h3>
      </div>
      <div class="modal-body">
        <p>No information about the required Class of objects for this property was found.</p>
        <p>Please select one by typing the Class name in the box below, if no Class is selected default is owl:Thing.</p>

        <input class="selectedClass" type="hidden" value="" style="width:100%">
      </div>
      <div class="modal-footer">
        <button id="btnSelect" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Select</button>
        <button id="btnCancelAdd" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>
