<div id="menu"></div>

<div id="alert"></div>

<div class="panel panel-default scroll list">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-10">
        <h1 class="sw-icon icon-tv">Monitor</h1>
      </div>
      <div class="col-md-2">
        <button id="btnPause" class="btn btn-primary pull-right" style="margin-top: 20px;">
          <i class="fa fa-pause"></i> Pause
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body" style="height: 800px;">
      <div id="charts" style="position: relative; width: 1078px; margin: 0 auto;"></div>
      <p style="text-align: center; margin-top: 50px;">
        <a href="https://square.github.io/cubism/" target="_blank" style="font-size: 11px;">About the charts</a>
      </p>
  </div>
</div>

