<div id="alert-area"></div>
<h2>Schema Browser</h2>
<legend></legend>

<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a id="tabClass" href="#tab1" data-toggle="tab" data-bypass="true">Classes</a></li>
      <li><a id="tabProp" href="#tab2" data-toggle="tab" data-bypass="true">Properties</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <div id="classTree" class="scrollContainer no-border" style="height: 700px;">

        </div>
      </div>
      <div class="tab-pane fade" id="tab2">
        <div id="propertyTree" class="scrollContainer no-border" style="height: 700px;">

        </div>
      </div>
    </div>
  </div>
