
<table id="results-grid" class="table table-striped table-bordered datagrid">
  <thead>
     <tr>
      <th>
        <span class="datagrid-header-title">SPARQL Results</span>
      </th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th>
        <div class="datagrid-footer-left" style="display:none;">
          <div class="grid-controls">
            <span>
              <span class="grid-start"></span> -
              <span class="grid-end"></span>
              <!-- of <span class="grid-count"></span> -->
            </span>
            <select class="grid-pagesize">
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span>Per Page</span>
          </div>
        </div>
        <div class="datagrid-footer-right" style="display:none;">
          <div class="grid-pager">
            <button type="button" class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
            <span>Page</span>
            <input id="page-number" class="span2" type="text">
            <!-- <span>of <span class="grid-pages"></span></span> -->
            <button type="button" class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
          </div>
        </div>
      </th>
    </tr>
  </tfoot>
</table>
