<!-- <p>Add data to the new Stardog DB (total limit 20 MB):</p> -->

<br/>

<div class="row">
  <div class="col-md-6">
    <form role="form">
      <div class="form-group">
        <label for="dbname">Add file</label>
        <div class="input-group">
          <input type="text" class="form-control" style="height: inherit;">
          <span class="input-group-btn" style="height: inherit;">
            <button class="btn btn-default" type="button" style="height: inherit;">Browse</button>
          </span>
        </div>
        <button class="btn btn-primary" style="margin-top: 10px;">Upload</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <td><strong>File name</strong></td>
          <td><strong>Size (MB)</strong></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>